body{
	transition: 1s;
}
button{
	width: 200px;
	height: 100px;
	background: #605D54;
	border: 4px groove #FFB90B;
	box-shadow: 0px 10px 5px #404D44;
	color: #E5E4DA;
	font-size: 30px;
	font-family: Candara;
	transition: 1s;
}

@keyframes sombreado{
	0%{text-shadow: 0px 0px 0px #0EFFF9;}
	5%{text-shadow: 0px 0px 1px #0EFFF9;}
	10%{text-shadow: 0px 0px 2px #0EFFF9;}
	15%{text-shadow: 0px 0px 3px #0EFFF9;}
	20%{text-shadow: 0px 0px 4px #0EFFF9;}
	25%{text-shadow: 0px 0px 5px #0EFFF9;}
	30%{text-shadow: 0px 0px 6px #0EFFF9;}
	35%{text-shadow: 0px 0px 7px #0EFFF9;}
	40%{text-shadow: 0px 0px 8px #0EFFF9;}
	45%{text-shadow: 0px 0px 9px #0EFFF9;}
	50%{text-shadow: 0px 0px 10px #0EFFF9;}
	55%{text-shadow: 0px 0px 9px #0EFFF9;}
	60%{text-shadow: 0px 0px 8px #0EFFF9;}
	65%{text-shadow: 0px 0px 7px #0EFFF9;}
	70%{text-shadow: 0px 0px 6px #0EFFF9;}
	75%{text-shadow: 0px 0px 5px #0EFFF9;}
	80%{text-shadow: 0px 0px 4px #0EFFF9;}
	85%{text-shadow: 0px 0px 3px #0EFFF9;}
	90%{text-shadow: 0px 0px 2px #0EFFF9;}
	95%{text-shadow: 0px 0px 1px #0EFFF9;}
	100%{text-shadow: 0px 0px 0px #0EFFF9;}
}

button:hover{
	animation: sombreado 2s infinite;
}

button:active{
	transform: translateY(10px);
	box-shadow: none;
	transition: 0.01s;
}